@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.App {
  width: 100%;
  box-sizing: border-box;
}

.App-header {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 20px;
  margin-right: 20px;
}

.App-header h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: 700;
  font-family: 'Merriweather', serif;
}

.home-link {
  text-decoration: none;
  color: inherit;
}

.home-link:hover {
  text-decoration: underline;
}

main {
  margin-top: 20px;
}

.blog-summary, .blog-post-content {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px; /* Add border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
  transition: background-color 0.3s, color 0.3s;
}

.blog-summary {
  margin-left: 20px;
  margin-right: 20px;
}

.blog-post-content {
  margin-left: 20px;
  margin-right: 20px;
}

.blog-summary h2, .blog-post h2 {
  margin-top: 0;
  font-size: 1.75em;
  font-weight: 700;
  font-family: 'Merriweather', serif;
}

.blog-summary p, .blog-post p {
  font-size: 1em;
  line-height: 1.6;
}

.blog-summary .meta, .blog-post .meta {
  font-size: 0.875em;
  margin-top: 10px;
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  font-weight: 700;
}

.read-more:hover {
  text-decoration: underline;
}

/* Light Theme */
body.light-theme {
  background-color: #ffffff;
  color: #333;
}

.App-header.light-theme {
  background-color: #f8f9fa;
  color: #333;
}

.blog-summary.light-theme, .blog-post-content.light-theme {
  background: #ffffff;
  color: #666;
}

/* Dark Theme */
body.dark-theme {
  background-color: #121212;
  color: #e0e0e0;
}

.App-header.dark-theme {
  background-color: #1f1f1f;
  color: #e0e0e0;
}

.blog-summary.dark-theme, .blog-post-content.dark-theme {
  background: #1f1f1f;
  color: #e0e0e0;
  border-color: #333;
}

.read-more.dark-theme {
  color: #bb86fc;
}

/* Add these styles to App.css */

.switch {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #c2c2c2;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.blog-summary-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.blog-summary-image {
  width: 150px;
  height: auto;
  margin-right: 20px;
  order: -1; /* Ensure the image is on the left */
}

.blog-summary-text {
  flex: 1;
}

.blog-post-content {
  display: flex;
  
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  margin-right: 20px;
}

.blog-post-image {
  width: 100%;
  max-width: 500px; /* Ensure image takes full width of the container */
  height: auto;
  margin-right: 20px;
  margin-bottom: 20px;
}

.blog-post-text {
  flex: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%; /* Ensure text takes full width of the container */
}

.blog-post-text code {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Media queries for responsive design */
@media (max-width: 767px) {
  .App-header {
    margin-left: 10px;
    margin-right: 10px;
    width: 84%;
  }

  .switch {
    top: 10px;
    right: 10px;
    width: 40px; 
    height: 24px; 
  }

  .slider:before {
    height: 18px; /* Reduce height for smaller screens */
    width: 18px; /* Reduce width for smaller screens */
    left: 3px;
    bottom: 3px;
  }

  input:checked + .slider:before {
    transform: translateX(16px); /* Adjust transform for smaller screens */
  }

  .blog-summary-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .blog-summary-image {
    margin-right: 0;
    margin-bottom: 20px;
    order: 0; /* Reset order for smaller screens */
  }

  .blog-post-content {
    margin-left: 10px;
    margin-right: 10px;
    width: 84%;
  }

  .blog-post-image {
    margin-right: 0;
    margin-bottom: 20px;
  }
}